<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<h2>Click below link to get CSV file directly from the Server:</h2>
<button (click)="downloadFile()">Download CSV</button>
<h2>Click below link to get CSV file using a specified purpose:</h2>
<div>
  <h4>Please choose a purpose</h4>
  <ng-container *ngIf="csvPurposes">
  <select id="csvPurposeSelection" [(ngModel)]="selectedCsvPurpose">
    <option *ngFor="let csvPurpose of csvPurposes" [ngValue]="csvPurpose">{{csvPurpose.name}}</option>
  </select>
  <ng-container *ngIf="selectedCsvPurpose">
    <p>{{selectedCsvPurpose.description}}</p>
  </ng-container>
</ng-container>
</div>
<!-- TODO: Make button unclickable when no purpose is selected -->
<button (click)="downloadFileThroughPurpose(selectedCsvPurpose.name)">Download CSV</button>

<h2>Click below link to get a photo directly from the Server:</h2>
<button (click)="downloadFile()">Download Photo</button>
<h2>Click below link to get a photo using a specified purpose:</h2>
<div>
  <h4>Please choose a purpose</h4>
  <ng-container *ngIf="photoPurposes">
  <select id="photoPurposeSelection" [(ngModel)]="selectedPhotoPurpose">
    <option *ngFor="let photoPurpose of photoPurposes" [ngValue]="photoPurpose">{{photoPurpose.name}}</option>
  </select>
  <ng-container *ngIf="selectedPhotoPurpose">
    <p>{{selectedPhotoPurpose.description}}</p>
  </ng-container>
</ng-container>
</div>
<!-- TODO: Make button unclickable when no purpose is selected -->
<button (click)="downloadFileThroughPurpose(selectedPhotoPurpose.name)">Download Photo</button>
